.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/////////////////////////////////////////
body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;

}

.footer-link1 { 
border-right:1px solid darkgrey;
margin-right: 7px;
padding-right: 10px;
display: inline-block;
margin-top: 5px;
white-space: nowrap;
color: darkgray;}
.navbar-fixed-top {
    position:fixed !important;
}
/*--- navigation bar ---*/
.navbar {
  background:#FFFFFF;
}

.navbar-brand {
  color: #000;
  cursor: pointer;
}

.divimage {
    max-height: 200px;
}
.nav-link {
  margin-right: 1em !important;

    color: darkgrey;
}
.nav-link:hover {
  color: #00AA98;

}
.navbar-collapse {
  justify-content: flex-end;
}

.counter-div {
    background-color: #f2f2f2;
    padding-bottom: 5vw;
}

.section {
  background-image: url('5.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
    width: 100vw;
    height: 40vw;
    
}
@Override .carousel-control-next, .carousel-control-prev {
width: 40%; 
    
}
.hello {
    padding-top: 20vw;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.page-footer {
  background-color: #f2f2f2;
  color: #111;
  padding: 60px 0 30px;
}
.mobile-footer {
  background-color: #f2f2f2;
  color: #111;
    padding-top: 5vw;
     padding-bottom: 5vw;
  
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}



.text {
    padding-top: 10vw;
     font-size: 15px;
    font-weight: 700;
    color: white;
}
.basys {
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 0;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(80, end), blink .80s step-end 30s;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border-right: 4px solid white;
    box-sizing: border-box;
}
.halle {
  background-image: url('./pictures/Thomas/BASYS_Banner_mitLogo.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
visibility:visible; 
    width: auto;
    height: auto;
}
.bild {background-image: url('./pictures/Thomas/BASYS_Banner_mitLogo.jpg');
width: auto;
    height: auto;}
.i {
    font-size: 50px;
}
.text-icon {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5vw;
}
.plus {
     padding-top: 5vw;
    font-size: 40px;

    font-weight: 700;
}
.counter {
    padding-top: 5vw;
    font-size: 40px;
    
    font-weight: 700;
}

.caru_title {
    color: #00AA98;
   
    font-size-adjust: auto;
    font-size: 20px;
    margin-bottom: 1vw;
    line-height: 1.0;
    text-decoration: none;

    
}
.caru_absatz {
    
     font-size: 18px;
    margin-top: 0.7vw;
    
}
caru_title::hoover {
    text-decoration: none;
}
.caru_link::hover {
    color: #00AA98;
   
    font-size-adjust: auto;
    font-size: 20px;
    margin-bottom: 1vw;
    line-height: 1.0;
    text-decoration: none;
}
a{text-decoration: none !important}
.ueber {
    color: darkgray;
  
    font-size-adjust: auto;
    font-size: 25px;
    margin-left: vw;
    text-decoration: none;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  margin-bottom: 16px;

}

.footer-nav-item {
    float: left;
}

.features img:hover {
    opacity: 0.9;
}
.logo_basys {opacity: 0}
.logoappear {opacity: 0}

.footer-link {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.list_leistung {
    list-style: none;
}
.list_leistung li::before {
    content:'\203A';
    color: #00AA98;
    font-size: 35px;
    padding-right: 0.4vw;
    padding-top: 0.4vw;
    }




.more {
   
    font-weight:500;
    text-decoration: none;
    color: #00AA98;
}

.more:hover {
    text-decoration: underline; 
    color: #00AA98;
}
.more span {
    display: inline-block;
  transition: 0.6s ease-in;
    
    color: #00AA98;
    font-style: italic;
    padding-right: 0.4vw;
    padding-top: 0.4vw;
    height: 0.2vw;
    width: 0.3vw;
    }
.more span:hover {
 transform: translateX(50%);
    }

.fixed-top {
    box-shadow: 5px 5px 10px -1px rgba(173,173,173,0.32);
}

.caru_absatz {
       margin-left: 0vw;
        margin-right: 0vw;
}



//Mobile

@media (max-width: 600px) {
    .logo_basys {
        visibility: visible;
    }
    .img-head {
        visibility: hidden;
    }
     .page-footer {
        padding: 0px 0 0px;
    }
    .sec_absatz { 
    visibility: hidden;}
    hr.rounded {
      border-top: 2px solid #bbb;
      border-radius: 1px;
      visibility: visible;
}
    .caru_absatz {
       margin-left: 2vw !important;
        margin-right: 2vw !important;
}
}
//Desktop

@media (min-width: 768px) { 
     .img-head {
        visibility: visible;
    }
    hr.rounded {
      border-top: 2px solid white;
      border-radius: 1px;
      visibility: hidden;
}

    
    .page-footer {
        padding: 30px 0 0px;
    }

}